<plist version="1.0"‫<‬
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>https://archive.org/download/umar141700_gmail_Done/Done.ipa</string>
</dict>
<dict>
<key>kind</key>
<string>full-size-image</string>
<key>needs-shine</key>
<false/>
<key>url</key>
<string>https://cdn4.iconfinder.com/data/icons/colicon/24/checkmark_done_complete-128.png</string‫<‬
</dict>
<dict>
<key>kind</key>
<string>display-image</string>
<key>needs-shine</key>
<false/>
<key>url</key>
<string>https://cdn4.iconfinder.com/data/icons/colicon/24/checkmark_done_complete-128.png</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>com.done.sd</string>
<key>bundle-version</key>
<string>1.0</string>
<key>kind</key>
<string>software</string>
<key>subtitle</key>
<string>done</string>
<key>title </key>
<string>
‎تم الرفع من قبل عمر القريقري 
</string>   
</dict>
</dict>
</array>
</dict>
</plist>